<div class="container">
  <div class="container p-2">
    <%= render 'search' %>
  </div>
  <div class="card-profile">
    <div class="img-back">
    <%= link_to profiles_path do %>
    <i class="fas fa-long-arrow-alt-left"></i>
    <% end %>
    </div>
    <%= cl_image_tag(@profile.photo.key, :transformation=>[
  {:gravity=>"face", :height=>200, :width=>200, :crop=>"fill"},
  {:radius=>"max"}
  ]) %>
    <h1><%= @profile.user.full_name %></h1>
    <h2><%= @profile.village %></h2>
    <h3><%= @profile.business_type %></h3>
    <p>Phone Number: <%= @profile.phone_number %></p>
    <p>Date of Birth: <%= @profile.birthday.strftime("%A %B %d %Y") %></p>
    <p>Joined on <%= @profile.join_date.strftime("%A %B %d %Y") %></p>
    <% if @profile.user.active_debt %>
      <%= link_to "Payment", new_loanee_weekly_payment_path(@profile.user.active_debt), class: "btn btn-create"  %>
      <%= link_to "History", loanee_weekly_payments_path(Loanee.find(@profile.user.active_debt.id)), class: "btn btn-create" %>
    <% else %>
      <p> This user has no active debts. </p>
    <% end %>
  </div>
</div>
