<div class="container">
  <div class="container p-2">
    <%= render 'search' %>
  </div>
  <div class="card-profile">
    <div class="img-back">
    <%= link_to profiles_path do %>
    <i class="fas fa-arrow-circle-left"></i>
    <% end %>
    </div>
    <%= cl_image_tag(@profile.photo.key, :transformation=>[
  {:gravity=>"face", :height=>200, :width=>200, :crop=>"fill"},
  {:radius=>"max"}
  ]) %>
    <h1><%= @profile.user.full_name %></h1>
    <h2><%= @profile.village %></h2>
    <h3><%= @profile.business_type %></h3>
    <p>Phone Number: <%= @profile.phone_number %></p>
    <p>Date of Birth: <%= @profile.birthday.strftime("%A %B %d %Y") %></p>
    <p>Joined on <%= @profile.join_date.strftime("%A %B %d %Y") %></p>
    <%= render 'button_logic_show', profile:@profile %>
  </div>
</div>
