<div class="container">
<%profile = Profile.find(params[:profile_id])%>
<h1>Notes about</h1>
<h2>"<%= profile.user.full_name%>"</h2>
<br>
<%= link_to "Add a note", new_profile_note_path(profile), class:"btn btn-primary"%>
<br>
<br>
  <% if profile.notes.any? %>
    <% profile.notes.reverse_each do |note| %>
     <p><i><%= note.created_at.strftime("%A %B %d %Y") %></i></p>
      <p><%= note.content %></p>
      <hr>
    <% end %>
<% else %>
  <p>There is not any notes about <%= profile.user.first_name%> yet...</p>
  <% end %>
      <%= link_to profile_path(profile) do%>
      <p><i class="fas fa-long-arrow-alt-left fa-2x"></i></p>
    <% end %>
</div>
