<div class="container">
  <div class="card-profile">
    <%profile = Profile.find(params[:profile_id])%>
    <h2>Notes about <%= profile.user.full_name.titleize%></h2>
    <% if profile.notes.any? %>
      <% profile.notes.reverse_each do |note| %>
        <p><i><%= note.created_at.strftime("%A %B %d %Y") %></i></p>
        <p><%= note.content %></p>
        <hr>
      <% end %>
    <% else %>
      <p>No notes about <%= profile.user.first_name.titleize%> yet.</p>
    <% end %>
    <%= link_to profile_path(profile) do%>
      <p><i class="fas fa-long-arrow-alt-left fa-2x"></i></p>
    <% end %>
  </div>
  <%= link_to "New Note", new_profile_note_path(profile), class:"btn btn-large"%>
</div>
