<table class="table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Payment Received</th>
      <%# <th scope="col">Weekly Payment Amount</th> %>
      <th scope="col">Remaining Amount</th>
      <th scope="col">Payment Date</th>
      <th scope="col">Payment Expected Date</th>
      <th scope="col">Edit Payment</th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% remainder = @loanee.total%>
    <% @loanee.weekly_payments.each do |weekly_payment|%>
      <% if remainder - weekly_payment.amount < 0 %>
        <tr class="overpay">
          <th scope="row">Over Paid</th>
          <td ><%= weekly_payment.amount.round(2) %></td>
          <%# <td><%= (weekly_payment.loanee.total / weekly_payment.loanee.loan.weeks).round(2) %>
          <td><%= remainder - weekly_payment.amount.round(2) %></td>
          <td><%= weekly_payment.created_at.strftime('%Y-%m-%d') %></td>
          <td><%= ((@loanee.loan.start_date) + (i * 7)).strftime('%Y-%m-%d') %></td>
          <td><%= link_to edit_loanee_weekly_payment_path(weekly_payment.loanee_id, weekly_payment) do%>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
        </tr>
        <% i += 1 %>
        <% remainder -= weekly_payment.amount %>
      <% else %>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= weekly_payment.amount.round(2) %></td>
          <%# <td><%= (weekly_payment.loanee.total / weekly_payment.loanee.loan.weeks).round(2) %>
          <td><%= remainder - weekly_payment.amount.round(2) %></td>
          <td><%= weekly_payment.created_at.strftime('%Y-%m-%d') %></td>
          <td><%= ((@loanee.loan.start_date) + (i * 7)).strftime('%Y-%m-%d')%></td>
          <td><%= link_to edit_loanee_weekly_payment_path(weekly_payment.loanee_id, weekly_payment) do%>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
        </tr>
        <% i += 1 %>
        <% remainder -= weekly_payment.amount %>
      <% end %>
    <% end %>
  </tbody>
</table>
