<div class="row align-items-start mb-2" data-refresh-list-target="list">
  <% @users.each do |user| %>
    <% if user.debts.any?%>
      <% user.debts.each do |debt| %>
        <div class="col-sm-4">
          <div class="card-identity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(user.profile.photo.key, width: 300, height: 300, crop: 'fill', gravity: :face, radius: 16, background:"#0000ffff") %>)">
            <div class="card-identity-content">
              <%= link_to '', loan_path(debt.loan), class: 'card-link' %>
              <h2 class="card-village">Loan ID <%= debt.loan.id%></h2>
              <h2 class="card-village">Start Date <%= debt.loan.start_date%></h2>
              <h3 class="card-name"><%= user.full_name.titleize %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
