<div class="container">
  <h1>Hello <%= @user.first_name%>!</h1>
  <p>Your nextpaymet is sheculed on: <%= render 'next_payment', user:@user, payments_amount:@payments_amount%></p>
  <br>
  <p style="text-align:center;">Past Weekly Payments</p>
  <%= render 'graph', user:@user%>
  <br>
  <br>
  <br>
  <br>
  <div class="row d-flex justify-content-around">
    <div>
      <p style="text-align:center;"><%= @user.first_name%>'s payment chart</p>
      <%= render 'individual_chart', user:@user%>
    </div>
    <div>
      <p style="text-align:center;"><%= @user.first_name%>'s payment chart</p>
      <%= render 'group_chart', user:@user%>
    </div>
  </div>
</div>
