<div class="navbar navbar-expand-sm navbar-light navbar-theblender mb-3">
  <%= link_to new_user_session_path, class: "navbar-brand" do %>
    <%= image_tag("envia_white.png") %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <!-- -->
          <li>
          <%= link_to new_loan_path do %>
          <i class="fas fa-dollar-sign fa-2x"></i>
          <% end %>
          </li>
          <li>
          <%= link_to new_user_path do %>
          <i class="fas fa-female fa-2x"></i>
          <% end %>
          </li>
          <li>
          <%= link_to profiles_path do %>
          <i class="fas fa-search fa-2x"></i>
          <% end %>
          </li>
          <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt fa-2x"></i>
          <% end %>
          </li>

      <!-- -->
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
