<div class="navbar navbar-expand-sm navbar-light navbar-theblender mb-3">
  <%= link_to new_user_session_path, class: "navbar-brand" do %>
    <%= image_tag("envia_white.png") %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      
      <!-- -->
        <div class="fab">
          <i class="fas fa-plus"></i>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-long-arrow-alt-left"></i>
          <% end %>
          <%= link_to new_loan_path do %>
          <i class="fas fa-dollar-sign"></i>
          <% end %>
          <%= link_to new_user_path do %>
          <i class="fas fa-female"></i>
          <% end %>
          <%= link_to profiles_path do %>
          <i class="fas fa-search"></i>
          <% end %>
        </div>
      <!-- -->
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
