<table class="table-striped">
  <tr>
    <%# <th></th> %>
    <th>Name</th>
    <th>Total Debt Amount</th>
    <th>Weekly Payment</th>
    <th>Loan Status</th>
    <th>Edit</th>
  </tr>
  <div style="text-align: center;">
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @percentage %>%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><%= @progress %>% Complete</div>
    </div>
    <br>
    <% @loan.loanees.each_with_index do |loanee| %>
      <tr>
        <%# <td><%= cl_image_tag(loanee.user.profile.photo.key, :transformation=>[
                {:gravity=>"face", :height=>80, :width=>80, :crop=>"pad"}, {:radius=>"max"}]) %>
        <td><i><%= link_to loanee.user.full_name, profile_path(loanee.user.profile) %></i></td>
        <td><%= loanee.total %></td>
        <td><%= (loanee.total / @loan.weeks).round(2) %></td>
        <td><%= loanee.status %></td>
        <td><%= link_to edit_loanee_path(loanee.id) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
