<table class="table-striped">
  <tr>
    <th>Name</th>
    <th>Total Debt Amount</th>
    <th>Weekly Payment</th>
    <th>Loan Status</th>
    <th>Edit</th>
  </tr>
    <% @loan.loanees.each_with_index do |loanee| %>
      <tr>
        <td><i><%= link_to loanee.user.full_name, profile_path(loanee.user.profile) %></i></td>
        <td><%= loanee.total %></td>
        <td><%= (loanee.total / @loan.weeks).round(2) %></td>
        <td><%= loanee.status %></td>
        <td><%= link_to edit_loanee_path(loanee.id) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
