<div class="container">
  <div class="card-dashboard-header">
    <% expected_amount_total = 0 %>
    <% actual_amount_total = 0 %>
    <div class="card-title-dash">
      <h1><%= @date.strftime("%A, %B %e %Y") %></h1>
    </div>
    <div class="card-info-dash">
      <p><%= @loans_today.count*3 %> members in <%= @loans_today.count %> loan <%="#{'group'.pluralize(@loans_today.count)}"%>.</p>
      <p>$<%=@amounts[:expected_amount_total].round %> total to be collected.</p>
      <p>You've collected $<%= @amounts[:actual_amount_total].round%>.</p>
    </div>
    <%# simple_form_for :loans, method: "get" do |f| %>
      <%# <div class="card-date"> %>
      <%# f.input :on_date, as: :string, required: false, label: false,
        input_html: { placeholder: "Choose date", class: "datepicker mt-3", value: params[:loans] && params[:loans][:on_date].present? ? params[:loans][:on_date] : "" } %>
      <%# end %>
      <%# </div> %>
    </div>
    <div class="card-dashboard-header my-3">
      <div class="simple-calendar" id="calendar">
        <%= month_calendar(events: @loans) do |date, loans| %>
          <strong><%= date.day %></strong>
          <div class="simple-calendar-info">
            <% if Loan.get_today_payments(date).any? %>
              <i class="fas fa-user-alt"></i> <%= Loan.get_today_payments(date).count * 3 %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
