<div class="container">
      <% expected_amount_total = 0 %>
      <% actual_amount_total = 0 %>
  <h1>Today is <%= Date.today.strftime("%A %B %d %Y") %></h1>

  <h2>All groups you will see:</h2>
  <% @loans.each do |loan| %>
    <% i = 1 %>
    <% payments_today= [] %>
    <% loan.weeks.times do %>
      <%if ((loan.start_date) + (i * 7)) == Date.today%>
        <p><% payments_today << ((loan.start_date) + (i * 7))%></p>
        <% i = i + 1%>
      <% end %>
    <% end %>
    <% payments_today.each do |payment_day| %>

        <p>Loan id: <%= link_to loan.id, loan_path(loan) %></p>
        <p>Village: <%= loan.loanees.first.user.profile.village %></p>
        <% expected_amount_group = 0 %>
        <% actual_amount_group = 0 %>
        <%loan.loanees.each do |loanee| %>
          <p><%= loanee.user.full_name%></p>
          <% expected_amount_group= expected_amount_group + (loanee.total / loan.weeks) %>
          <%loanee.weekly_payments.each do |weekly_payment| %>
            <%if weekly_payment.created_at.strftime('%Y-%m-%d') == Date.today.strftime('%Y-%m-%d')%>
              <% actual_amount_group= actual_amount_group + weekly_payment.amount%>
            <% end %>
          <% end %>
        <% end %>
        <% unless expected_amount_group == 0 %>
          <p>>You are expected to collect $ <%= expected_amount_group %> from this group</p>
          <p>>You collected $ <%= actual_amount_group %> from this group</p>
        <% end %>
        <% expected_amount_total= expected_amount_total + expected_amount_group %>
        <% actual_amount_total= actual_amount_total + actual_amount_group %>
        <hr>

    <% end %>
  <% end %>
          <h2>>You are expected to collect $ <%= expected_amount_total %> today </h2>
        <h2>>You actually collected $ <%= actual_amount_total%> today</h2>
</div>
