<div class="container">
  <div class="card-dashboard-header">
    <% expected_amount_total = 0 %>
    <% actual_amount_total = 0 %>
    <div class="card-title-dash">
      <h1><%= @date.strftime("%A, %B %e %Y") %></h1>
    </div>
    <div class="card-info-dash">
      <p><%= @loans_today.count*3 %> members in <%= @loans_today.count %> loan <%="#{'group'.pluralize(@loans_today.count)}"%>.</p>
    </div>
    <div class="card-info-dash">
      <p>Your collection total for today is</p>
      <p style="font-size: 48px">$<%= @amounts[:expected_amount_total].round %></p>
      <p>You've collected</p>
      <p style="font-size: 48px">$<%= @amounts[:actual_amount_total].round %></p>
    </div>
  </div>
  <div class="card-dashboard-header my-3">
    <div class="simple-calendar" id="calendar">
      <%= month_calendar(events: @loans) do |date, loans| %>
        <strong><%= date.day %></strong>
        <div class="simple-calendar-info">
          <% if Loan.get_today_payments(date).any? %>
            <i class="fas fa-user-alt"></i> <%= Loan.get_today_payments(date).count * 3 %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
