<div class="container">
  <div class="card-dashboard-header">
    <% expected_amount_total = 0 %>
    <% actual_amount_total = 0 %>
    <div class="card-title-dash">
      <h1>Today is <%= Date.today.strftime("%A %B %d %Y") %></h1>
    </div>
  </div>
  <div class="d-flex justify-content-around align-items-center p-3">
    <div class="card-info-dash">
      <h2>You are expected to collect $ <%=@amounts[:expected_amount_total].round %> </h2>
    </div>
    <div class="card-info-dash">
      <h2>You actually collected $ <%= @amounts[:actual_amount_total].round%> from <%= @loans_today.count %> loans</h2>
    </div>
  </div>
  <% @loans_today.each do |loan| %>
    <div class="card-dashboard-body">
      <p>Loan id: <%= link_to loan.id, loan_path(loan) %></p>
      <h3><%= loan.loanees.first.user.profile.village %></h3>
      <div class="d-flex justify-content-around align-items-center p-3">
        <%loan.loanees.each do |loanee| %>
          <%= cl_image_tag(loanee.user.profile.photo.key, :transformation=>[
            {:gravity=>"face", :height=>80, :width=>80, :crop=>"fill"}, {:radius=>"max"}]) %>
          <%= loanee.user.full_name%>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
