<div class="container">
  <h1>Loan Number: <%= @loan.id%></h1>
    <br>
  <p>Loan Started On: <%= @loan.start_date.strftime("%A %b %d") %></p>
  <p>Loan Duration: <%= @loan.weeks %> weeks</p>
  <% @loan.loanees.each_with_index do |loanee, index| %>
    <p> Loanee <%= index +1 %> is <%= link_to loanee.user.full_name, profile_path(loanee.user.profile) %>, borrowing $<%= loanee.total %></p>
    <p>Weekly Payment Amount: $<%= (loanee.total / @loan.weeks).round(2) %></p>
  <% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
