<div class="container mt-5">
  <%# <div class="card-group"> %>
  <div class="d-flex justify-content-between">
    <div class="img-back">
      <%= link_to profiles_path do %>
        <i class="fas fa-long-arrow-alt-left fa-2x "></i>
      <% end %>
    </div>
    <div><%= link_to "Add a loanee", new_loan_loanee_path(@loan.id), class:"btn btn-primary" %></div>
  </div>
  <div>
    <h2>Loan #<%= @loan.id%></h2>
    <br>
    <p><strong>Started On:</strong> <%= @loan.start_date.strftime("%A %b %d") %></p>
    <p><strong>Duration: </strong><%= @loan.weeks %> weeks</p>
    <%= render 'table', loan:@loan%>
  </div>
  <%# </div> %>
</div>
</div>
